.pm-staff-profile-image{
  width: 150px;
  height: 150px;
  background-color: #C6C6C6;
  border-radius: 50%;
  display: inline-block;
}
.pm-staff-profile-details {
    padding: 20px 20px;
}
.pm-staff-profile-name {
    font-size: 24px;
    text-transform: capitalize;
    color: #2b5d83;
}
.pm-staff-profile-title {
    text-transform: capitalize;
    color: #4b4b4b;
    font-weight: 500;
    padding: 12px 0px;
}
.pm-staff-profile-bio {
  text-transform: capitalize;
  color: #4b4b4b;
  font-weight: 100;
}

.pm-pet-profile-image{
  width: 100px;
  height: 100px;
  background-color: #C6C6C6;
  border-radius: 50%;

}


/*----------------------------------------------------nav bar*/


.navbar-placeholder {

    padding: 0px;
    height: inherit;
    margin: 20px 0px;

}

