

  <div class="banner">
    <video loop="" muted="" autoplay="" preload="metadata" class="is-loaded banner">
    <source type="video/mp4" media="(min-width: 768px)" src="http://choicer-pennant.000webhostapp.com/563398388.mp4">
    </video>
    <div class="bg-color">
    </div>
  </div>


<div *ngIf="isLoggedOut">

<!--   <div class="modal fade" id="login" role="dialog">
    <div class="modal-dialog modal-sm">
 -->
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
      <!-- Modal content no 1-->
      <div class="modal-content modal-dialog">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title text-center form-title">Sign Up</h4>
        </div>
        <div class="modal-body padtrbl">

          <div class="signup-box-body">
            <p class="signup-box-msg">Enter your info to get started</p>
            <div class="form-group">
              <form name="" id="signupForm">
                <div class="form-group has-feedback">
                  <!--- username -->
                  <input [(ngModel)]="signUpInfo.username" name="username" class="form-control" placeholder="Username" id="signupid" type="text" autocomplete="off" />
                  <span style="display:none;font-weight:bold; position:absolute;color: red;position: absolute;padding:4px;font-size: 11px;background-color:rgba(128, 128, 128, 0.26);z-index: 17;  right: 27px; top: 5px;" id="span_signupid"></span>
                  <!---Alredy exists  ! -->
                  <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                  <!-- password-->
                  <input [(ngModel)]="signUpInfo.password" name="password" class="form-control" placeholder="Password" id="signuppsw" type="password" autocomplete="off" />
                  <span style="display:none;font-weight:bold; position:absolute;color: grey;position: absolute;padding:4px;font-size: 11px;background-color:rgba(128, 128, 128, 0.26);z-index: 17;  right: 27px; top: 5px;" id="span_signuppsw"></span>
                  <!---Alredy exists  ! -->
                  <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
<!--                   <div class="col-xs-12">
                    <div class="checkbox icheck">
                      <label>
                                <input type="checkbox" id="loginrem" > Remember Me
                              </label>
                    </div>
                  </div> -->
                  <div class="col-xs-12">
                    <button type="button" class="btn btn-green btn-block btn-flat" onclick="doSignUp()">Sign Up</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

            <div class="col-sm-6">
      <!-- Modal content no 1-->
      <div class="modal-content modal-dialog">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title text-center form-title">Login</h4>
        </div>
        <div class="modal-body padtrbl">

          <div class="login-box-body">
            <p class="login-box-msg">Enter your Username and Password to Sign in</p>
            <div class="form-group">
              <form name="" id="loginForm" (ngSubmit)="doLogin()">
                <div class="form-group has-feedback">
                  <!--- username -->
                  <input [(ngModel)]="loginInfo.username" name="username" class="form-control" placeholder="Username" id="loginid" type="text" autocomplete="off" />
                  <span style="display:none;font-weight:bold; position:absolute;color: red;position: absolute;padding:4px;font-size: 11px;background-color:rgba(128, 128, 128, 0.26);z-index: 17;  right: 27px; top: 5px;" id="span_loginid"></span>
                  <!---Alredy exists  ! -->
                  <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                  <!-- password-->
                  <input [(ngModel)]="signUpInfo.password" name="password" class="form-control" placeholder="Password" id="loginpsw" type="password" autocomplete="off" />
                  <span style="display:none;font-weight:bold; position:absolute;color: grey;position: absolute;padding:4px;font-size: 11px;background-color:rgba(128, 128, 128, 0.26);z-index: 17;  right: 27px; top: 5px;" id="span_loginpsw"></span>
                  <!---Alredy exists  ! -->
                  <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="checkbox icheck">
                      <label>
                                <input type="checkbox" id="loginrem" > Remember Me
                              </label>
                    </div>
                  </div>
                  <div class="col-xs-12">
                    <button type="button" class="btn btn-green btn-block btn-flat">Sign In</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>

   <div class="container">
      <div class="row">
        <div class="col-sm-6">


  <h2> Home Page </h2>

  <p> PetCarers </p>

  <h3> Sign Up </h3>

  <p *ngIf="errorMessage" class="error">
    {{ errorMessage }}
  </p>

  <form (ngSubmit)="doSignUp()">
    <label for="username-input"> Username </label>
    <input  id="username-input" type="text" placeholder="Blanche Bourbon"
        [(ngModel)]="signUpInfo.username" name="username">
    <br>

    <label for="password-input"> Password </label>
    <input  id="password-input" type="password" placeholder="*****"
        [(ngModel)]="signUpInfo.password" name="password">
    <br>

    <button> Sign Up </button>
  </form>


  <h3> Log In </h3>

  <p *ngIf="loginErrorMessage" class="error">
    {{ loginErrorMessage }}
  </p>

  <form (ngSubmit)="doLogin()">
    <label for="login-username-input"> Email </label>
    <input  id="login-username-input" type="email" placeholder="hi@example.com"
        [(ngModel)]="loginInfo.username" name="username">
    <br>

    <label for="login-pass-input"> Password </label>
    <input  id="login-pass-input" type="password" placeholder="*****"
        [(ngModel)]="loginInfo.password" name="loginPassword">
    <br>

    <button> Log In </button>
  </form>
</div>
</div>
</div>
</div>



<!-- <h1> Authentication Sample </h1>
<form *ngIf="!user">
  <h2> Login or Signup </h2>
  <label> Username </label>
  <input type="text" [(ngModel)]="formInfo.username" name="username"/>
  <br>
  <label> Password </label>
  <input type="password" [(ngModel)]="formInfo.password" name="password"/>

  <button (click)="login()"> login </button>
  <button (click)="signup()"> signup </button>
</form>

<div *ngIf="user">
  <h2> You are now logged in as {{ user.username }}!! </h2>
  <p> Here's the user object </p>
  <pre> {{ user | json }} </pre>

  <p *ngIf="privateData"> Here's some data fetched from a protected API </p>
  <pre> {{ privateData | json }} </pre>
  <button (click)="logout()"> logout </button>
  <button (click)="getPrivateData()"> Get private data </button>
</div>

<p class="error"> {{ error }} </p>
 -->