<div *ngIf="isLoggedOut">
  <h2> Home Page </h2>

  <p> NeoPets but with camels. </p>

  <h3> Sign Up </h3>

  <p *ngIf="errorMessage" class="error">
    {{ errorMessage }}
  </p>

  <form (ngSubmit)="doSignUp()">
    <label for="username-input"> Username </label>
    <input  id="username-input" type="text" placeholder="Blanche Bourbon"
        [(ngModel)]="signUpInfo.username" name="signupUsername">
    <br>

    <label for="email-input"> Email </label>
    <input  id="email-input" type="email" placeholder="blah@example.com"
        [(ngModel)]="signUpInfo.email" name="signupEmail">
    <br>

    <label for="password-input"> Password </label>
    <input  id="password-input" type="password" placeholder="*****"
        [(ngModel)]="signUpInfo.password" name="signupPassword">
    <br>

    <button> Sign Up </button>
  </form>


  <h3> Log In </h3>

  <p *ngIf="loginErrorMessage" class="error">
    {{ loginErrorMessage }}
  </p>

  <form (ngSubmit)="doLogin()">
    <label for="login-email-input"> Email </label>
    <input  id="login-email-input" type="email" placeholder="hi@example.com"
        [(ngModel)]="loginInfo.email" name="loginEmail">
    <br>

    <label for="login-pass-input"> Password </label>
    <input  id="login-pass-input" type="password" placeholder="*****"
        [(ngModel)]="loginInfo.password" name="loginPassword">
    <br>

    <button> Log In </button>
  </form>
</div>



<!-- <h1> Authentication Sample </h1>
<form *ngIf="!user">
  <h2> Login or Signup </h2>
  <label> Username </label>
  <input type="text" [(ngModel)]="formInfo.username" name="username"/>
  <br>
  <label> Password </label>
  <input type="password" [(ngModel)]="formInfo.password" name="password"/>

  <button (click)="login()"> login </button>
  <button (click)="signup()"> signup </button>
</form>

<div *ngIf="user">
  <h2> You are now logged in as {{ user.username }}!! </h2>
  <p> Here's the user object </p>
  <pre> {{ user | json }} </pre>

  <p *ngIf="privateData"> Here's some data fetched from a protected API </p>
  <pre> {{ privateData | json }} </pre>
  <button (click)="logout()"> logout </button>
  <button (click)="getPrivateData()"> Get private data </button>
</div>

<p class="error"> {{ error }} </p>
 -->