

  <div class="banner">
    <video loop="" muted="" autoplay="" preload="metadata" class="is-loaded banner">
    <source type="video/mp4" media="(min-width: 768px)" src="http://choicer-pennant.000webhostapp.com/563398388.mp4">
    </video>
    <div class="bg-color">
    </div>
  </div>










   <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="modal-content modal-dialog">
                  <!-- Modal content no 1-->
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title text-center form-title">Enter your Information</h4>
            </div>
            <div class="modal-body padtrbl">
              <div class="signup-box-body">

<!--               <h2> Home Page </h2>
              <p> PetCarers </p>
              <h3> Sign Up </h3>
              <p *ngIf="errorMessage" class="error">
                {{ errorMessage }}
              </p>
 -->
              <form (ngSubmit)="doSignUp()">
                <label for="username-input"> Username </label>
                <input  id="username-input" type="text" placeholder="Username"
                    [(ngModel)]="signUpInfo.username" name="username">
                <br>


                <label for="email-input"> Email </label>
                <input  id="email-input" type="email" placeholder="E-mail"
                    [(ngModel)]="signUpInfo.email" name="email">
                <br>

                <label for="password-input"> Password </label>
                <input  id="password-input" type="password" placeholder="*****"
                    [(ngModel)]="signUpInfo.password" name="password">
                <br>

                <label for="aboutme-input"> About Me </label>
                <input  id="aboutme-input" type="aboutme" placeholder="Write about yourself"
                    [(ngModel)]="signUpInfo.aboutme" name="aboutme">
                <br>

                <button> Sign Up </button>
              </form>

           </div>
          </div>
        </div>
      </div>

        <div class="col-sm-6">
          <div class="modal-content modal-dialog">
                  <!-- Modal content no 1-->
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title text-center form-title">Enter info to Login</h4>
            </div>
            <div class="modal-body padtrbl">
              <div class="login-box-body">

<!--               <h2> Home Page </h2>
              <p> PetCarers </p>
              <h3> Sign Up </h3>
              <p *ngIf="errorMessage" class="error">
                {{ errorMessage }}
              </p> -->

              <form (ngSubmit)="doLogin()">
                <label for="username-input"> Username </label>
                <input  id="username-input" type="text" placeholder="Username"
                    [(ngModel)]="loginInfo.username" name="username">
                <br>


                <label for="password-input"> Password </label>
                <input  id="password-input" type="password" placeholder="Password"
                    [(ngModel)]="loginInfo.password" name="password">
                <br>

                <button> Sign In </button>
              </form>

           </div>
          </div>
        </div>
      </div>













<!-- <h1> Authentication Sample </h1>
<form *ngIf="!user">
  <h2> Login or Signup </h2>
  <label> Username </label>
  <input type="text" [(ngModel)]="formInfo.username" name="username"/>
  <br>
  <label> Password </label>
  <input type="password" [(ngModel)]="formInfo.password" name="password"/>

  <button (click)="login()"> login </button>
  <button (click)="signup()"> signup </button>
</form>

<div *ngIf="user">
  <h2> You are now logged in as {{ user.username }}!! </h2>
  <p> Here's the user object </p>
  <pre> {{ user | json }} </pre>

  <p *ngIf="privateData"> Here's some data fetched from a protected API </p>
  <pre> {{ privateData | json }} </pre>
  <button (click)="logout()"> logout </button>
  <button (click)="getPrivateData()"> Get private data </button>
</div>

<p class="error"> {{ error }} </p>
 -->