  <div class="banner">
  	<video loop="" muted="" autoplay="" preload="metadata" class="is-loaded banner">
	  <source type="video/mp4" media="(min-width: 768px)" src="http://choicer-pennant.000webhostapp.com/563398388.mp4">
	</video>
    <div class="bg-color">
      <div class="container">
        <div class="row">
          <div class="banner-text text-center">
            <div class="text-border">
              <h2 class="text-dec">Pet Lovers, Rejoice!</h2>
            </div>
            <div class="intro-para text-center quote">
              <p class="big-text">Connect with fellow Pet-Carers</p>
              <p class="small-text">Find and connect with pet owners, pet sitters and pet groomers!<!-- <br>Laudantium enim repellat sapiente quos architecto --></p>
              <a [routerLink]="['signup']" class="btn get-quote" >GET STARTED</a>
            </div>
            <a href="#feature" class="mouse-hover">
              <div class="mouse"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>



