<nav class="navbar navbar-placeholder"></nav>

   <section id="faculity-member" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">

          <div class="pm-staff-profile-container">
            <div class="pm-staff-profile-image-wrapper text-center">
              <div class="pm-staff-profile-image">
                <img src="{{ currentUser.image }}" alt="" class="img-thumbnail img-circle" />
              </div>
            </div>
            <div class="pm-staff-profile-details text-center">
              <p class="pm-staff-profile-name">{{ currentUser.username }}</p>
              <p class="pm-staff-profile-title">{{ currentUser.email }}</p>

              <p class="pm-staff-profile-bio">{{ currentUser.aboutme }}</p>
            </div>
          </div>



        </div><!-- close 4 col div -->


        <div class="col-lg-8 col-md-8 col-sm-8">
          <!-- <div class="container"> -->
            <div class="row">
              <div class="header-section text-center">               
                    <p class="pm-staff-profile-name"> Your Pets</p> 
                </div>
            </div>
             <!-- <div class="container"> -->
             <!--  <div class="row"> -->
              <!-- <ul> -->
              <div *ngFor="let onePet of petArray">
                <div class="row anyClass">

                  <div class="col-sm-3 col-sm-offset-2">
                    <div class="pm-pet-profile-image">
                    <img src="{{ onePet.image }}" alt="" class="img-thumbnail img-circle" />
                    </div>
                  </div>

                <div class="col-sm-7">
                  <p> {{ onePet.name }} </p>
                  <p> {{ onePet.age }} </p>
       <!--            <p> {{ onePet.about }} </p> -->
                </div> 
                </div>
               </div>
               <!-- </ul> -->
              
        </div>
            <!-- </div>                           -->
          <!--  </div> -->
        </div>

      </div>
  </section> 



<!-- <header>

  <p> Hello, {{ currentUser.username }}. </p> -->

  <button (click)="logMeOutPls()"> Log Out </button>

<!--   <p *ngIf="logoutError" class="error"> {{ logoutError }} </p>

</header>
 -->
<!-- <button *ngIf="!isShowingForm" (click)="showEditForm()"> Edit your info </button>

  <div *ngIf="isShowingForm">

    <h3> Add new info </h3>

    <p *ngIf="saveError" class="error"> {{ saveError }} </p>

    <form (ngSubmit)="updateUser()">
    <label for="username-input"> Username </label>
    <input  id="username-input" type="text" placeholder="New Username"
        [(ngModel)]="formData.username" name="username">
    <br>

     <button> update </button>

   </form>

</div> -->

 <!--  <b *ngIf="currentUser._id === currentUser._id">

      </b> -->


<!--  <b *ngIf="oneCamel.user?._id !== currentUser._id">

      </b> -->

   <!-- <div *ngIf = "currentUser._id === ride.user?._id"> -->
<button *ngIf="!isShowingAddPetForm" (click)="showAddPetForm()">
  Add a Pet </button>

  <div *ngIf="isShowingAddPetForm">
  <h3> Add new pet </h3>

  <p *ngIf="saveError" class="error">
    {{ saveError }}
  </p>

  <form (ngSubmit)="addNewPet()">
    <label for="petName-input"> Pet Name </label>
    <input  id="petName-input" type="text" placeholder="Pet Name"
        [(ngModel)]="petInfo.petName" name="petName">
    <br>

    <label for="petAge-input"> Pet Age </label>
    <input  id="petAge-input" type="text" placeholder="Pet Age"
        [(ngModel)]="petInfo.petAge" name="petAge">
    <br>

<!--     <label for="petAbout-input"> About this pet </label>
    <input  id="petAbout-input" type="text" placeholder="About this pet"
        [(ngModel)]="petInfo.petAbout" name="petAbout">
    <br> -->

     <button> Save Pet </button>
   </form>
 </div>


<!-- <p> {{ currentUser.pets }}  </p> -->

<!--start list of pets-->

