<header>
  <p> Hello, {{ currentUser.username }}. </p>

  <button (click)="logMeOutPls()"> Log Out </button>
  <p *ngIf="logoutError" class="error">
    {{ logoutError }}
  </p>
</header>

<button *ngIf="!isShowingForm" (click)="showEditForm()">
  Edit your info </button>

  <div *ngIf="isShowingForm">
  <h3> Add new info </h3>

  <p *ngIf="saveError" class="error">
    {{ saveError }}
  </p>

  <form (ngSubmit)="updateUser()">
    <label for="username-input"> Username </label>
    <input  id="username-input" type="text" placeholder="New Username"
        [(ngModel)]="formData.username" name="username">
    <br>

     <button> update </button>
   </form>
 </div>

 <!--  <b *ngIf="currentUser._id === currentUser._id">

      </b> -->


<!--  <b *ngIf="oneCamel.user?._id !== currentUser._id">

      </b> -->

   <!-- <div *ngIf = "currentUser._id === ride.user?._id"> -->
<button *ngIf="!isShowingAddPetForm" (click)="showAddPetForm()">
  Add a Pet </button>

  <div *ngIf="isShowingAddPetForm">
  <h3> Add new pet </h3>

  <p *ngIf="saveError" class="error">
    {{ saveError }}
  </p>

  <form (ngSubmit)="addNewPet()">
    <label for="petName-input"> Pet Name </label>
    <input  id="petName-input" type="text" placeholder="Pet Name"
        [(ngModel)]="petInfo.petName" name="petName">
    <br>

    <label for="petAge-input"> Pet Age </label>
    <input  id="petAge-input" type="text" placeholder="Pet Age"
        [(ngModel)]="petInfo.petAge" name="petAge">
    <br>

     <button> Save Pet </button>
   </form>
 </div>

<p> {{ currentUser.username }}'s Pets  </p>
<p> {{ currentUser.pets }}  </p>

<!--start list of pets-->

<ul>
  <li *ngFor="let onePet of petArray">
    <h3> {{ onePet.name }} </h3>
    <h3> {{ onePet.age }} </h3>
    <button *ngIf="!isShowingEditPetForm" (click)="showEditPetForm()"> Edit </button>

    <div *ngIf="isShowingEditPetForm">
    <h3> Edit this pet's information </h3>

    <p *ngIf="saveError" class="error"> {{ saveError }} </p>

    <form (ngSubmit)="updatePet()">
    <label for="petName-input"> Pet Name </label>
    <input  id="petName-input" type="text" placeholder="Pet Name"
        [(ngModel)]="petInfo.petName" name="petName">
    <br>

    <label for="petAge-input"> Pet Age </label>
    <input  id="petAge-input" type="text" placeholder="Pet Age"
        [(ngModel)]="petInfo.petAge" name="petAge">
    <br>

     <button> update </button>
   </form>
  </div>
 </li>
</ul>

<!--end list of pets-->



<a [routerLink]="['']"> Back to home page </a>