<header>
  <p> Hello, {{ currentUser.username }}. </p>

  <button (click)="logMeOutPls()"> Log Out </button>
  <p *ngIf="logoutError" class="error">
    {{ logoutError }}
  </p>
</header>

<button *ngIf="!isShowingForm" (click)="showEditForm()">
  Edit your info </button>

  <div *ngIf="isShowingForm">
  <h3> Add new info </h3>

  <p *ngIf="saveError" class="error">
    {{ saveError }}
  </p>

  <form (ngSubmit)="updateUser()">
    <label for="username-input"> Username </label>
    <input  id="username-input" type="text" placeholder="New Username"
        [(ngModel)]="formData.username" name="username">
    <br>

     <button> update </button>
   </form>
 </div>

<button *ngIf="!isShowingAddPetForm" (click)="showAddPetForm()">
  Add a Pet </button>

  <div *ngIf="isShowingAddPetForm">
  <h3> Add new pet </h3>

  <p *ngIf="saveError" class="error">
    {{ saveError }}
  </p>

  <form (ngSubmit)="addNewPet()">
    <label for="petName-input"> Pet Name </label>
    <input  id="petName-input" type="text" placeholder="Pet Name"
        [(ngModel)]="petInfo.petName" name="petName">
    <br>

    <label for="petAge-input"> Pet Age </label>
    <input  id="petAge-input" type="text" placeholder="Pet Age"
        [(ngModel)]="petInfo.petAge" name="petAge">
    <br>

     <button> Save Pet </button>
   </form>
 </div>

<p> {{ currentUser.username }}'s Pets  </p>
<p> {{ currentUser.pets }}  </p>
<ul>
  <li *ngFor="let onePet of petArray">
    <h3> {{ onePet.name }} </h3>
    <h3> {{ onePet.age }} </h3>
  </li>
</ul>




<a [routerLink]="['']"> Back to home page </a>